# Dung chung cho docker-compose va cac script Python
INFLUX_USER=admin
INFLUX_PASSWORD=admin12345
INFLUX_ORG=iot-lab
INFLUX_TOKEN=iot-lab2-super-secret-token
INFLUX_BUCKET_RAW=sensor_raw
INFLUX_BUCKET_PROCESSED=sensor_processed
INFLUX_URL=http://localhost:8086

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=iot/lab2/+/telemetry
